<div class="landing-two-image">
  <div class="Container two-image-wrap">
    <div class="image-item">
      <img src="{{ section.settings.image1 | img_url: '1024x' }}" alt="{{ section.settings.image1.alt }}">
    </div>
    <div class="image-item">
      <img src="{{ section.settings.image2 | img_url: '1024x' }}" alt="{{ section.settings.image2.alt }}">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    }
  ],
  "presets": [
    {
      "name": "Landing Two Image",
      "category": "landing"
    }
  ]
}
{% endschema %}