<div class="landing-richtext-title text-{{ section.settings.text_align }}">{{ section.settings.title }}</div>
<div class="landing-richtext-subtitle text-{{ section.settings.text_align }}">{{ section.settings.subtitle }}</div>
{% schema %}
{
  "name": "Landing Richtext",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "select",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "id": "text_align",
      "label": "Text align",
      "default": "center"
    }
  ]
}
{% endschema %}