<div class="Container Container--narrower">
  <div class="Section__content text-{{ section.settings.text_align }}">
    {{section.settings.text}}
  </div>
</div>

{% schema %}
  {
    "name": "Text",
    "class": "Section Section--TextBlock",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "select",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "id": "text_align",
        "label": "Text align",
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Text Block",
        "category": "Content"
      }
    ]
  }
{% endschema %}
