<div class="Main__header Container Container--narrow">
  {% section 'press-page-header' %}
</div>

<div class="Main__content">
  {% section 'index-press-logos' %}
  {% section 'press-as-seen-in' %}
  {% section 'press-as-seen-on' %}
</div>